<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This utility provides a Trace Route functionality with a nice layout" />
    <title>@ViewData["Title"] - TraceRoute</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?t=@DateTime.Now.Ticks" />
    <link rel="preload" href="~/lib/font-awesome/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="~/lib/leaflet/leaflet.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preconnect" href="https://tile.openstreetmap.org" />
    <link rel="preload" fetchpriority="high" as="image" href="https://tile.openstreetmap.org/2/1/2.png" />
</head>
<body ng-app="traceRouteApp" ng-controller="traceRouteController as vm">
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand ms-3" href="/">TraceRoute</a>
        <div class="spinner-border text-light ms-2" role="status" ng-show="vm.isTracing">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="justify-content-end">
            <form class="form-inline me-3" role="search" ng-submit="vm.TraceRoute()" data-ng-init="vm.Hostname='@ViewData["ClientIPAddress"]'">
                <div class="input-group">
                    <input type="text" ng-model="vm.Hostname" class="form-control" placeholder="Perform Trace Route" autocapitalize="off" spellcheck="false">
                    <span class="input-group-append">
                        <button ng-click="vm.TraceRoute()" class="btn btn-secondary" type="button" aria-label="Perform the Trace Route">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <a class="btn btn-secondary justify-content-end" data-bs-toggle="offcanvas" href="#offcanvasAbout" role="button" ng-click="vm.ShowSettings()">
                            <i class="fa-solid fa-gear"></i>
                        </a>
                        <a class="btn btn-secondary justify-content-end" data-bs-toggle="offcanvas" href="#offcanvasAbout" role="button" ng-click="vm.ShowAbout()">
                            ...
                        </a>
                    </span>
                </div>
            </form>
        </div>
    </nav>
    <main role="main" class="container-fluid p-0">
        @RenderBody()
    </main>
    <footer class="footer fixed-bottom navbar-dark bg-dark">
        <p class="navbar-brand ms-3">
            &copy; @DateTime.Now.Year - TraceRoute - 
            <i class="fa-brands fa-github lightLink"></i> <a class="lightLink" href="https://github.com/mdima/traceroute" target="_blank">GitHub</a> -
            <i class="fa-brands fa-docker lightLink"></i> <a class="lightLink" href="https://hub.docker.com/r/michele73/traceroute" target="_blank">Docker</a>
        </p>
    </footer>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAbout" aria-labelledby="offcanvasRightLabel">
        <div class="spinner-border spinner-border-lg m-5" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000" data-bs-autohide="true" id="ToastError">
            <div class="toast-body">
                {{vm.ErrorDescription}}
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalIpDetails" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">IP details for: <strong>{{vm.ipDetail.query}}</strong></h5>
                </div>
                <div class="modal-body">
                    <div class="spinner-border spinner-border-lg m-5" role="status" ng-show="vm.ipDetail == null">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="row" ng-show="vm.ipDetail != null">
                        <div class="col-3 text-muted" ng-show="vm.ipDetail != null">Continent</div>
                        <div class="col-9" ng-show="vm.ipDetail != null">{{vm.ipDetail.continent}}</div>
                        <div class="col-3 text-muted" ng-show="vm.ipDetail != null">Country</div>
                        <div class="col-9" ng-show="vm.ipDetail != null">{{vm.ipDetail.country}} ({{vm.ipDetail.countryCode}})</div>
                        <div class="col-3 text-muted" ng-show="vm.ipDetail != null">Region</div>
                        <div class="col-9" ng-show="vm.ipDetail != null">{{vm.ipDetail.regionName}} ({{vm.ipDetail.region}})</div>
                        <div class="col-3 text-muted" ng-show="vm.ipDetail != null">City</div>
                        <div class="col-9" ng-show="vm.ipDetail != null">{{vm.ipDetail.city}} <span ng-show="vm.ipDetail.district"> ({{vm.ipDetail.district}}) </span>- {{vm.ipDetail.zip}}</div>
                        <div class="col-3 text-muted" ng-show="vm.ipDetail != null">ISP</div>
                        <div class="col-9" ng-show="vm.ipDetail != null">{{vm.ipDetail.isp}}</div>
                        <div class="col-3 text-muted" ng-show="vm.ipDetail != null">Organization</div>
                        <div class="col-9" ng-show="vm.ipDetail != null">{{vm.ipDetail.org}}</div>
                        <div class="col-3 text-muted" ng-show="vm.ipDetail != null">AS</div>
                        <div class="col-9" ng-show="vm.ipDetail != null">{{vm.ipDetail.as}} ({{vm.ipDetail.asname}})</div>
                        <div class="col-3 text-muted" ng-show="vm.ipDetail != null">Is mobile</div>
                        <div class="col-9" ng-show="vm.ipDetail != null">{{vm.ipDetail.mobile}}</div>
                        <div class="col-3 text-muted" ng-show="vm.ipDetail != null">Is proxy</div>
                        <div class="col-9" ng-show="vm.ipDetail != null">{{vm.ipDetail.proxy}}</div>
                        <div class="col-3 text-muted" ng-show="vm.ipDetail != null">Is hosting</div>
                        <div class="col-9" ng-show="vm.ipDetail != null">{{vm.ipDetail.hosting}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="vm.closeModalIpDetails()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/angular.js/angular.min.js"></script>
    <script src="~/js/site.min.js?t=@DateTime.Now.Ticks" asp-append-version="true"></script>
    <script src="~/js/app.js?t=@DateTime.Now.Ticks"></script>
    <script src="~/js/traceRouteController.js?t=@DateTime.Now.Ticks"></script>
    <script src="~/lib/leaflet/leaflet.min.js" async onload="initMap();"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>