@using Blazored.Toast
@using Blazored.Toast.Configuration
@using TraceRoute.Components.Molecules
@using TraceRoute.Components.Pages
@using TraceRoute.Helpers
@using TraceRoute.Models
@inherits LayoutComponentBase

<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="/">TraceRoute</a>
        <div class="spinner-border d-flex text-light ms-auto @(isTracing ? "d-show" : "d-none")" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <form class="form-inline d-md-flex ms-auto" role="search" @onsubmit="BeginTraceRoute">
            <div class="input-group me-2">
                <input type="text" @bind-value="hostToTrace" class="form-control my-1" placeholder="IP address or hostname" autocapitalize="off" spellcheck="false">
                <button @onclick="BeginTraceRoute" class="btn btn-primary my-1" title="Perform the Trace Route" type="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="input-group me-1" hidden="@(!ConfigurationHelper.GetEnableRemoteTraces())">
                <label class="input-group-text my-1" for="TraceSource">Source</label>
                <select class="form-select my-1 mr-sm-2"
                        id="TraceSource"
                        @bind="selectedServerUrl"                       
                        placeholder="Select the source of the traceroute">
                    @foreach (ServerEntry server in serverList)
                    {
                        <option value="@server.url">@ShowServerEntry(server)</option>
                    })
                </select>
                <button @onclick="ShowServerDetails" class="btn btn-secondary my-1" type="button" aria-label="Show server info">
                    <i class="fa-solid fa-info"></i>
                </button>
            </div>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item me-2">
                <a class="btn btn-secondary ms-1" data-bs-toggle="offcanvas" href="#offcanvasSettings" role="button" title="Settings">
                    <i class="fa-solid fa-gear"></i>
                </a>
                <a class="btn btn-secondary ms-1 position-relative" data-bs-toggle="offcanvas" href="#offcanvasAbout" role="button" title="About...">
                    <i class="fa-solid">...</i>
                    @if (_serverListService.IsNewVersionAvailable())
                    {
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                            <span class="visually-hidden">New version available!</span>
                        </span>
                    }
                </a>
            </li>
        </ul>
    </div>
</nav>
<main role="main" class="container-fluid p-0">
    <Home OnShowHopDetails="OnShowHopDetails"
          Hops="traceResult?.Hops" />
</main>
<footer class="footer fixed-bottom navbar-dark bg-dark">
    <p class="navbar-brand ms-3">
        &copy; @DateTime.Now.Year - TraceRoute -
        <i class="fa-brands fa-github lightLink"></i> <a class="lightLink" href="https://github.com/mdima/traceroute" target="_blank">GitHub</a> -
        <i class="fa-brands fa-docker lightLink"></i> <a class="lightLink" href="https://hub.docker.com/r/michele73/traceroute" target="_blank">Docker</a>
    </p>
</footer>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAbout" aria-labelledby="offcanvasRightLabel">
    <About />
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSettings" aria-labelledby="offcanvasRightLabel">
    <Settings />
</div>
<BlazoredToasts Position="ToastPosition.TopRight" 
                ShowCloseButton="true" 
                ShowProgressBar="true" 
                Timeout="5"
                MaxToastCount="5"
                PauseProgressOnHover="true"
                />
<IpDetailsComponent currentHop="currentHop" />